html(ng-app="demoApp")
  head
    title Pizza Payment Demo
    link(href='vendor/angular-material.min.css', rel='stylesheet', type='text/css')
    link(href='index.css', rel='stylesheet', type='text/css')
  body(ng-controller="appController" ng-click="tapped($event); idleTimeout()" ng-mousemove="mouseMoved($event)" ng-cloak="")
    ripples
      .ripple(ng-repeat="r in ripples", ng-style="{ top: r.y + 'px', left: r.x + 'px' }")

    md-content(layout="column" layout-align="start center" flex layout-fill )
      div.logo-container(layout="row" layout-align="center center" )
        .logo
      h2.md-headline Pick a Size
      .pick-size(layout="row" layout-align="space-around center")
        md-card.pizza-item(ng-repeat="item in pizza.items"  flex="50" ng-click="changePizzaOrder(item,$event)" )
            md-card-title
              md-card-title-text(layout="column" layout-align="start start") 
                span.md-headline {{item.name | capitalize}}
                span {{item.price | currency}}
              md-card-title-media
                div.md-media-lg.card-media.item-media(ng-class="[item.name]" ng-style="{'background-image':'url(images/pizza.png)'}")
      h2.md-headline Pick Meats
      .pick-size(layout="row" layout-align="center center" layout-wrap ng-cloak)
        md-card.modifier-item(ng-repeat="meat in pizza.modifiers.meats" flex="33"  ng-click="toggleModifier(meat,$event)" ng-class="{'no-click': !pizzaOrder.name}")
          md-card-title
            md-card-title-text(layout="column" layout-align="start start")
              span.md-headline {{meat.name  | capitalize | deslug}}
              span {{meat.price | currency}}
            md-card-title-media
              div.md-media-lg.card-media.item-media(ng-style="{'background-image':'url(images/'+ meat.name+'.jpg)'}")
      h2.md-headline Pick Veggies 
      .pick-size(layout="row" layout-align="center center" layout-wrap ng-cloak)
        md-card.modifier-item(ng-repeat="veggie in pizza.modifiers.veggies"  flex="33" ng-click="toggleModifier(veggie,$event)" ng-class="{'no-click': !pizzaOrder.name}")
          md-card-title
            md-card-title-text(layout="column" layout-align="start start")
              span.md-headline {{veggie.name | capitalize | deslug}}
              span {{veggie.price | currency}}
            md-card-title-media
              div.md-media-lg.card-media.item-media(ng-style="{'background-image':'url(images/'+ veggie.name +'.jpg)'}")
      
      .pizza-total(layout="column" layout-align="center center" ng-cloak ng-if="pizzaTotal") 
        .total.md-headline Total
        .amount {{pizzaTotal | currency}}
        md-button.md-primary.md-raised(ng-click="showCart(pizzaOrder, $event)") Add To Cart
    .invisible
        .md-dialog-container#addToCartDialog
          md-dialog
            md-dialog-content.md-dialog-content(layout='column' layout-align="stretch")
              h2.md-headline(layout-align="center") Pizza Cart
              .order
                .cart-items(ng-repeat="item in cart track by $index")
                  md-divider.bottom-space
                  .item(layout="row" layout-align="space-between start")
                    span {{item.name | capitalize}} Pizza
                    span {{item.price | currency}}
                  .item-description.md-subhead(ng-repeat="mod in item.modifiers" layout="row" layout-align="space-between start")
                    span {{mod.name | capitalize}} Topping
                    span {{mod.price | currency}}
                md-divider.top-space.bottom-space
                .cart-tax(layout="row" layout-align="end start")
                    span 8.6% Tax&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cart.tax | currency}}
                .cart-total(layout="row" layout-align="end start")
                    span Total&nbsp;&nbsp;&nbsp;{{ cart.total | currency}}

            md-dialog-actions
              button.md-button.md-primary.md-raised(ng-click='makeAnotherPizza()') Add Another Pizza
              button.md-button.md-primary.md-raised(ng-click='printReceipt()') Print Receipt
    canvas(id="printer-canvas")
    div(style="display:none")
      img(id="printer-image-source" src="images/printer-logo.png" width="256" height="256")

    script(src="vendor/lodash.min.js")
    script(src="vendor/angular.min.js")
    script(src="vendor/angular-animate.min.js")
    script(src="vendor/angular-aria.min.js")
    script(src="vendor/angular-messages.min.js")

    //- script(src="vendor/epos-2.14.0.js")
    //- script(src="vendor/pdfkit.standalone.js")
    script(src="vendor/angular-material.min.js")
    script(src="js/config.js")
    script(src="js/dataService.js")
    script(src="js/appController.js")

