html(ng-app="demoApp")
  head
    title Pizza Payment Demo
    link(href='vendor/angular-material.min.css', rel='stylesheet', type='text/css')
    link(href='index.css', rel='stylesheet', type='text/css')
  body(ng-controller="appController" ng-click="tapped($event); idleTimeout()" ng-mousemove="mouseMoved($event)" ng-cloak="")
    ripples
      .ripple(ng-repeat="r in ripples", ng-style="{ top: r.y + 'px', left: r.x + 'px' }")

    md-content.main(layout="column" layout-align="space-between  stretch" flex layout-fill )
      div.logo-container(layout="row" layout-align="center center" )
        .logo
      div.md-headline.center Pick a Size
      .pick-size(layout="row" layout-align="space-around center")
        md-card.pizza-item(ng-repeat="item in pizza.items"  flex="50" ng-click="changePizzaOrder(item,$event)" )
          md-card-title
            md-card-title-text(layout="column" layout-align="start start") 
              span.md-headline {{item.name | capitalize}}
              span {{item.price | currency}}
            md-card-title-media
              div.md-media-lg.card-media.item-media(ng-class="[item.name]" ng-style="{'background-image':'url(images/pizza.png)'}")
      div.md-headline.center Pick Meats
      .pick-size(layout="row" layout-align="center center" layout-wrap ng-cloak)
        md-card.modifier-item(ng-repeat="meat in pizza.modifiers.meats" flex="33"  ng-click="toggleModifier(meat,$event)" ng-class="{'no-click': !pizzaOrder.name}")
          md-card-title
            md-card-title-text(layout="column" layout-align="start start")
              span.md-headline {{meat.name  | capitalize | deslug}}
              span {{meat.price | currency}}
            md-card-title-media
              div.md-media-lg.card-media.item-media(ng-style="{'background-image':'url(images/'+ meat.name+'.jpg)'}")
      div.md-headline.center Pick Veggies 
      .pick-size(layout="row" layout-align="center center" layout-wrap ng-cloak)
        md-card.modifier-item(ng-repeat="veggie in pizza.modifiers.veggies"  flex="33" ng-click="toggleModifier(veggie,$event)" ng-class="{'no-click': !pizzaOrder.name}")
          md-card-title
            md-card-title-text(layout="column" layout-align="start start")
              span.md-headline {{veggie.name | capitalize | deslug}}
              span {{veggie.price | currency}}
            md-card-title-media
              div.md-media-lg.card-media.item-media(ng-style="{'background-image':'url(images/'+ veggie.name +'.jpg)'}")
      
      //- .pizza-total(layout="column" layout-align="center center" ng-cloak ng-if="pizzaTotal") 
      //-   .total.md-headline Total
      //-   .amount {{pizzaTotal | currency}}
      //-   md-button.md-primary.md-raised(ng-click="showCart(pizzaOrder, $event)") Add To Cart
      .bottom-wrapper(layout="column" layout-align="space-between none" ng-cloak)
        md-toolbar.demo-total(layout="row" layout-align="space-between center" layout-padding) 
          .total.md-subhead(layout="row" layout-align="start center") 
            span CART {{cart.length}} Items 
            button.md-button.md-raised.cart-button(ng-click='showCart(pizzaOrder, $event)' ng-disabled="noPizzaSelection(pizzaOrder)") Add To Cart

          .total.md-subhead(ng-if="cart.total") Total {{cart.total | currency}}
        md-toolbar.qrcode(layout="row" layout-align="end center"  ng-cloak)
          .qrcode-message(layout="row" layout-align="end" layout-padding)
            div(flex) Scan this QR Code to control the screen cursor
          .qrcode-backdrop QRCODE
      
    .invisible
        .md-dialog-container#addToCartDialog
          md-dialog
            md-dialog-content.md-dialog-content(layout='column' layout-align="stretch")
              h2.md-headline(layout-align="center") Pizza Cart
              .order
                .cart-items(ng-repeat="item in cart track by $index")
                  md-divider.bottom-space
                  .item(layout="row" layout-align="space-between start")
                    span {{item.name | capitalize}} Pizza
                    span {{item.price | currency}}
                  .item-description.md-subhead(ng-repeat="mod in item.modifiers" layout="row" layout-align="space-between start")
                    span {{mod.name | capitalize}} Topping
                    span {{mod.price | currency}}
                md-divider.top-space.bottom-space
                .cart-tax(layout="row" layout-align="end start")
                    span 8.6% Tax&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cart.tax | currency}}
                .cart-total(layout="row" layout-align="end start")
                    span Total&nbsp;&nbsp;&nbsp;{{ cart.total | currency}}

            md-dialog-actions
              button.md-button.md-primary.md-raised(ng-click='makeAnotherPizza()') Add Another Pizza
              button.md-button.md-primary.md-raised(ng-click='printReceipt()') Print Receipt
              button.md-button.md-primary.md-raised(ng-click='checkout("waitingForTerminal", $event)'  ng-disabled="!cart.length") Checkout Now
        .invisible
          .md-dialog-container#waitingForTerminal
              md-dialog(flex=70)
                md-dialog-content.md-dialog-content(layout='column' layout-align="center center")
                  h2.md-headline(layout-align="center") Processing
                  div Please insert you card in the terminal to the right
                  div &nbsp;
                  md-progress-circular(md-mode="indeterminate")
                //- md-dialog-actions
                //-   button.md-button.md-primary.md-raised(ng-click='finishShopping()') Cancel Order
        .invisible
          .md-dialog-container#showApproved
              md-dialog(flex=70)
                md-dialog-content.md-dialog-content(layout='column' layout-align="center center")
                  h2.md-headline(layout-align="center") Approved
                  div Your order purchase was approved. You may print a receipt.
                  div &nbsp;

                md-dialog-actions
                  button.md-button.md-primary.md-raised(ng-click='printReceipt()') Print Receipt
                  button.md-button.md-primary.md-raised(ng-click='finishShopping()') Finish
        .invisible
          .md-dialog-container#showDenied
              md-dialog(flex=70)
                md-dialog-content.md-dialog-content(layout='column' layout-align="center center")
                  h2.md-headline(layout-align="center") Denied
                  div Your order purchase was denied. Please finish or continue shoppping.
                  div &nbsp;

                md-dialog-actions
                  button.md-button.md-primary.md-raised(ng-click='continueShopping()') Continue Shopping
                  button.md-button.md-primary.md-raised(ng-click='finishShopping()') Finish
        .invisible
          .md-dialog-container#errorOccured
              md-dialog(flex=70)
                md-dialog-content.md-dialog-content(layout='column' layout-align="center center")
                  h2.md-headline(layout-align="center") Error
                  div An error occured. PLease try again later
                  div &nbsp;

                md-dialog-actions
                  button.md-button.md-primary.md-raised(ng-click='continueShopping()') Continue Shopping
                  button.md-button.md-primary.md-raised(ng-click='finishShopping()') Finish
    canvas(id="printer-canvas")
    div(style="display:none")
      img(id="printer-image-source" src="images/printer-logo.png" width="256" height="256")

    script(src="vendor/lodash.min.js")
    script(src="vendor/angular.min.js")
    script(src="vendor/angular-animate.min.js")
    script(src="vendor/angular-aria.min.js")
    script(src="vendor/angular-messages.min.js")

    //- script(src="vendor/epos-2.14.0.js")
    //- script(src="vendor/pdfkit.standalone.js")
    script(src="vendor/angular-material.min.js")
    script(src="js/config.js")
    script(src="js/dataService.js")
    script(src="js/appController.js")

